@*<div >*@
    <div class="page-sidebar-wrapper" style="position: fixed;" >

        <div class="page-sidebar navbar-collapse collapse">

            <div >
                <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
                <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler">
                            <span></span>
                        </div>
                    </li>
                    <li style="height: 32px"></li>

                    @*<li>
                        <a href="/ValidationSettings">
                            <i class="icon-settings"></i>
                            <span class="title">Validation Settings</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="/Product">
                            <i class="icon-diamond"></i>
                            <span class="title">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SchedulersHistory">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Schedulers History</span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
    </div>
@*</div>*@
