@section Scripts
{
    <script src="~/Scripts/ValidationSettings/editableTimePeriod.js"></script>
    <script src="~/Scripts/ValidationSettings/editableNumberOfChanges.js"></script>
    <script src="~/Scripts/ValidationSettings/editableDatetimeOrDropdown.js"></script>
    <script src="~/Scripts/ValidationSettings/editableBetweens.js"></script>
    <script src="~/Scripts/ValidationSettings/app.js"></script>
    <script src="~/Scripts/ValidationSettings/dataValidationSettingsController.js"></script>
}

@section Body
{

    <div ng-app="dataValidationSettingsApp">

        <div ng-controller="dataValidationSettingsController">
            
            @Html.Partial("Partial")

            <h2>Validation settings</h2>

            @Html.Hidden("settingId", (int) ViewBag.SettingId)

            <div class="row">

                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box" ng-init="refresh()">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-4" style="padding-left: 0px;">
                                            <select style="width: 10%" select2="" ng-options="product as product.Name for product in products"
                                                    class="form-control input-medium"
                                                    ng-model="selectedProduct" ng-change="filter()">
                                                <option value="" selected>Product..</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-4" style="padding-left: 0px;">
                                            <select style="width: 0%" select2="" ng-options="priority as priority.Name for priority in priorities" class="form-control input-small "
                                                    ng-model="selectedPriority" ng-change="filter()">
                                                <option value="" selected>Priority..</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="btn-group pull-right">
                                        <button class="btn blue" data-target="#select-product" ng-click="setSelected()" data-toggle="modal" type="button">
                                            Add New <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-title">
                        </div>
                        <style>
                            .dataTables_filter {
                                text-align: right;
                            }

                            .table-toolbar {
                                margin-bottom: 0px;
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        </style>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover dataTable dtr-inline" id="data_validation_table" role="grid" aria-describedby="data_validation_table_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 258px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 385px;" aria-label="Position: activate to sort column ascending">Product Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 188px;" aria-label="Office: activate to sort column ascending">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 111px;" aria-label="Age: activate to sort column ascending">Priority</th>
                                    <th class="sorting" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 199px;" aria-label="Start date: activate to sort column ascending">Description</th>
                                    <th class="sorting" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 199px;" aria-label="Start date: activate to sort column ascending"></th>
                                    <th class="sorting" tabindex="0" aria-controls="data_validation_table" rowspan="1" colspan="1" style="width: 199px;" aria-label="Start date: activate to sort column ascending"></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>

    </div>
}




}